$backgroundImage: url("../img/m-h-day.jpg");
$mainFont:'Hind', sans-serif;
$mainFontColor: rgb(44, 47, 60);
$backgroundColor: #fff;
$buttonColor:rgb(105, 153, 0);
$cardColor: rgb(33, 35, 46);
$cardTextColor: rgb(192, 195, 206);
$textFillColor: rgb(20, 160, 199);
$gradient: linear-gradient(to right, rgb(105, 153, 0), rgb(43, 89, 222));