$backgroundImage: url("../img/m-h-night.jpg");
$mainFont:'Fresca', sans-serif;
$mainFontColor: #fff;
$backgroundColor:rgb(33, 35, 46);
$buttonColor:rgb(227, 172, 0);
$cardColor: rgb(59, 63, 80);
$cardTextColor:rgb(209, 209, 209);
$textFillColor: rgb(255, 78, 51);
$gradient: linear-gradient(to right, rgb(227, 172, 0), rgb(146, 43, 84));